<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment Option
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
    <span ion-text color = "primary" showWhen="ios">Cancel</span>
  </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)] = "paymentOptionChosen" (ngModelChange) = "paymentOption()">
    <ion-item *ngFor = "let p of paymentOptions">
      <ion-label>{{p}}</ion-label>
      <ion-radio value= "{{p}}" ></ion-radio>
    </ion-item>
    <ion-item *ngIf = "paymentOptionChosen == 'Credit Card'">
      <ion-label>Card:</ion-label>
      <ion-select [(ngModel)] = "creditCardChosen">
        <ion-option *ngFor = "let c of creditCards" value="{{c}}">{{c}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <button ion-button block (click)="orderFood()">Enter</button>
</ion-content>
