<ion-header>
  <ion-navbar>
    <ion-title>Order Summary</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding >
    <div *ngIf="currentOrder.items.length > 0">
      <ion-list>
        <ion-item *ngFor="let order of currentOrder.items">
          <h2>{{order['name']}}</h2>
          <h2 item-right>${{order['price']}} x <strong>{{order['quantity']}}</strong></h2>
        </ion-item>
      </ion-list>
      <ion-grid>
          <ion-row>
              <ion-col class="col-4"><h4><strong>Total:</strong></h4></ion-col>
              <ion-col class="col-4"></ion-col>
              <ion-col class="col-4">${{total}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="col-8"><h4><strong>Average Wait Time:</strong></h4></ion-col>
              <ion-col class="col-4">{{waitTime}} minutes</ion-col>
          </ion-row>
          <h4>Comments:</h4>
          <textarea name="name" rows="3" cols="40"></textarea>
          <button ion-button block (click)="studInfo()">Student Info</button>
          <button ion-button block (click)="payPayment()">Submit Order</button>
      </ion-grid>
    </div>
</ion-content>
